<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Solr_Web_Application</display-name>
    <servlet>
        <servlet-name>QueryServlet</servlet-name>
        <servlet-class>com.mycompany.solr_web_application.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autocomplete</servlet-name>
        <servlet-class>com.mycompany.solr_web_application.autocomplete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QueryServlet</servlet-name>
        <url-pattern>/QueryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autocomplete</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RelevanceServlet</servlet-name>
        <servlet-class>com.mycompany.solr_web_application.RelevanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RelevanceServlet</servlet-name>
        <url-pattern>/RelevanceServlet</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
